-@page_title = t("activerecord.models.port", count: 2)
-content_for :breadcrumb do
  %li.current
    = t("activerecord.models.port", count: 2)

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        .btn-group.pull-right
          = link_to new_admin_port_path, :class => "btn btn-info btn-sm" do
            %span.glyphicon.glyphicon-plus
            = t("helpers.new_model", model: t("activerecord.models.port", count: 1))
        %h3.panel-title= t("activerecord.models.port", count: 2)
        .clearfix
      .panel-body
        %table.table.table-hover.table-condensed.datatable
          %thead
            %tr
              %th= t("activerecord.attributes.port.code")
              %th= t("activerecord.attributes.port.name")
              %th= t("activerecord.attributes.port.country_id")
              %th= t("helpers.actions")
          %tbody
            != render :partial => 'port', :collection => @ports

.clear

