-@page_title = t("activerecord.models.customer", count: 2)
-content_for :breadcrumb do
  %li.current
    = t("activerecord.models.customer", count: 2)

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        .btn-group.pull-right
          = link_to new_admin_customer_path, :class => "btn btn-info btn-sm" do
            %span.glyphicon.glyphicon-plus
            = t("helpers.new_model", model: t("activerecord.models.customer", count: 1))
        %h3.panel-title= t("activerecord.models.customer", count: 2)
        .clearfix
      .panel-body
        %table.table.table-hover.table-condensed.table-bordered.datatable.datatable-sort-0-asc
          %thead
            %tr
              %th= t("activerecord.attributes.customer.company")
              %th= t("activerecord.attributes.customer.email")
              %th= t("activerecord.attributes.customer.phone")
              %th= t("activerecord.attributes.customer.first_name")
              %th= t("activerecord.attributes.customer.last_name")
              %th.text-center= t("helpers.actions")
          %tbody
            != render :partial => 'customer', :collection => @customers

.clear

