.form-group
  %label.control-label.col-sm-4= t("activerecord.attributes.estimate.customer_id")
  .col-sm-8
    .form-control= @estimate.customer
.form-group
  %label.control-label.col-sm-4= t("activerecord.attributes.estimate.origin_port_id")
  .col-sm-8
    .form-control= @estimate.origin_port
.form-group
  %label.control-label.col-sm-4= t("activerecord.attributes.estimate.destination_port_id")
  .col-sm-8
    .form-control= @estimate.destination_port
- @estimate.estimate_items.each do |estimate_item|
  %hr
  .form-group
    %label.control-label.col-sm-4= t("activerecord.attributes.cvnl/estimate_items.number_of_items")
    .col-sm-8
      .form-control= estimate_item.number_of_items
  .form-group
    %label.control-label.col-sm-4= t("activerecord.attributes.cvnl/estimate_items.description")
    .col-sm-8
      .form-control= estimate_item.description
  .form-group
    %label.control-label.col-sm-4= t("activerecord.attributes.estimate_item.length")
    .col-sm-8
      .form-control= estimate_item.length
  .form-group
    %label.control-label.col-sm-4= t("activerecord.attributes.estimate_item.width")
    .col-sm-8
      .form-control= estimate_item.width
  .form-group
    %label.control-label.col-sm-4= t("activerecord.attributes.estimate_item.height")
    .col-sm-8
      .form-control= estimate_item.height
  .form-group
    %label.control-label.col-sm-4= t("activerecord.attributes.estimate_item.weight")
    .col-sm-8
      .form-control= estimate_item.weight

