= f.grouped_collection_select :origin_port_id, Country.order(:name), :ports, :name, :id, :name, {include_blank: '', append: link_to("...", admin_ports_path, class: "btn btn-info", title: t("activerecord.models.port", count: 2))}, {:"data-placeholder"=> t("placeholders.estimate.origin_port_id")}
= f.grouped_collection_select :destination_port_id, Country.order(:name), :ports, :name, :id, :name, {include_blank: '', append: link_to("...", admin_ports_path, class: "btn btn-info", title: t("activerecord.models.port", count: 2))}, {:"data-placeholder"=> t("placeholders.estimate.destination_port_id")}
= f.fields_for :estimate_items do |ff|
  = ff.hidden_field :type, :value => "FltkItem"
  = ff.text_area :description, :label => t("activerecord.attributes.fltk/estimate_items.description")

= f.form_group do
  = f.submit
  - if !f.object.new_record?
    = link_to t("helpers.cancel"), admin_estimate_path(@estimate), :class => "btn btn-default"
