= f.alert_message flash[:error]
= f.collection_select :customer_id, Customer.order(:email), :id, :full_name, {include_blank: '', append: link_to("...", admin_customers_path, class: "btn btn-info", title: t("activerecord.models.customer", count: 2))}, {:"data-placeholder"=> t("placeholders.estimate.customer_id")}
= f.grouped_collection_select :origin_port_id, Country.order(:name), :ports, :name, :id, :name, {include_blank: '', append: link_to("...", admin_ports_path, class: "btn btn-info", title: t("activerecord.models.port", count: 2))}, {:"data-placeholder"=> t("placeholders.estimate.origin_port_id")}
= f.grouped_collection_select :destination_port_id, Country.order(:name), :ports, :name, :id, :name, {include_blank: '', append: link_to("...", admin_ports_path, class: "btn btn-info", title: t("activerecord.models.port", count: 2))}, {:"data-placeholder"=> t("placeholders.estimate.destination_port_id")}
= f.static_control :origin, append: link_to("...", "#origin_address_modal", class: "btn btn-info", :role=>"button", :"data-toggle" => "modal"), :id => "origin_address_full_input"
#origin_address_modal.modal.fade
  .modal-dialog.type-info
    .modal-content
      .modal-header
        %button{:type=>"button", :class=>"close", :"data-dismiss"=>"modal", :"aria-hidden"=>"true"} &times;
        %h4.modal-title= t("activerecord.attributes.estimate.origin")
      .modal-body
        = f.text_field :origin_address, :id => "origin_address_input"
        = f.text_field :origin_city, :id => "origin_city_input"
        = f.text_field :origin_zip, :id => "origin_zip_input"
        = f.collection_select :origin_country_id, Country.order(:name), :id, :name, {include_blank: ''}, {:"data-placeholder"=> t("placeholders.estimate.origin_country_id"), :id => "origin_country_input"}
      .modal-footer
        %button{:type=>"button", :class=>"btn btn-default", :"data-dismiss"=>"modal"}= t("helpers.close")
        %button{:type=>"button", :class=>"btn btn-success"}= t("helpers.submit.submit")
= f.static_control :destination, append: link_to("...", "#destination_address_modal", class: "btn btn-info", :role=>"button", :"data-toggle" => "modal"), :id => "destination_address_full_input"
#destination_address_modal.modal.fade
  .modal-dialog.type-info
    .modal-content
      .modal-header
        %button{:type=>"button", :class=>"close", :"data-dismiss"=>"modal", :"aria-hidden"=>"true"} &times;
        %h4.modal-title= t("activerecord.attributes.estimate.destination")
      .modal-body
        = f.text_field :destination_address, :id => "destination_address_input"
        = f.text_field :destination_city, :id => "destination_city_input"
        = f.text_field :destination_zip, :id => "destination_zip_input"
        = f.collection_select :destination_country_id, Country.order(:name), :id, :name, {include_blank: ''}, {:"data-placeholder"=> t("placeholders.estimate.destination_country_id"), :id => "destination_country_input"}
      .modal-footer
        %button{:type=>"button", :class=>"btn btn-default", :"data-dismiss"=>"modal"}= t("helpers.close")
        %button{:type=>"button", :class=>"btn btn-success"}= t("helpers.submit.submit")

= f.form_group :imo, label: { text: t("activerecord.attributes.estimate.imo") } do
  = f.radio_button :imo, 1, label: t("bool_yes"), inline: true, class: "imo", :checked => f.object.imo
  = f.radio_button :imo, 0, label: t("bool_no"), inline: true, class: "imo", :checked => !f.object.imo
= f.text_field :imo_class, class: "imo_true"
= f.text_field :imo_un, class: "imo_true"

= f.form_group :items, label: { text: t("activerecord.attributes.lcl.items") } do
  = f.fields_for :estimate_items, :layout => :inline do |ff|
    .form-inline.form-items.form-group{:style => "margin-left:0; margin-right:0;"}
      = ff.text_field :number_of_items, hide_label: true, :control_style => "width:15%", :placeholder => t("activerecord.attributes.lcl/estimate_items.number_of_items")
      = ff.text_field :description, hide_label: true, :control_style => "width:15%", :placeholder => t("activerecord.attributes.lcl/estimate_items.description")
      = ff.text_field :length, hide_label: true, :control_style => "width:15%", :placeholder => t("activerecord.attributes.estimate_item.length")
      = ff.text_field :width, hide_label: true, :control_style => "width:15%", :placeholder => t("activerecord.attributes.estimate_item.width")
      = ff.text_field :height, hide_label: true, :control_style => "width:15%", :placeholder => t("activerecord.attributes.estimate_item.height")
      = ff.text_field :weight, hide_label: true, :control_style => "width:15%", :placeholder => t("activerecord.attributes.estimate_item.weight")
      = ff.link_to_remove class: "btn btn-info pull-right", title: t("helpers.delete") do
        %span.glyphicon.glyphicon-remove
  = f.link_to_add t("activerecord.attributes.lcl.add_items"), :estimate_items

= f.form_group do
  = f.submit

:javascript
  function change_shipment_type() {
    if($(".shipment_type:checked").val()=='regular') $("#shipments_per_month").parents(".form-group").first().show();
    else $("#shipments_per_month").parents(".form-group").first().hide();
  }
  function change_equipment() {
    var v = $(".equipment:checked").val();
    if(v=="20_rf" || v=="40_rf") $("#temperature").parents(".form-group").first().show();
    else $("#temperature").parents(".form-group").first().hide();
  }
  function change_imo() {
    if($(".imo:checked").val()=="1") {
      $(".imo_true").each(function() { $(this).parents(".form-group").first().show(); })
    } else {
      $(".imo_true").each(function() {$(this).parents(".form-group").first().hide();})
    }
  }
  $(function() {
    $("#origin_address_modal .btn-success").click(function(){
      var country = $('#origin_country_input option:selected').text() 
      txt = $("#origin_address_input").val()+" "+$("#origin_zip_input").val()+" "+$("#origin_city_input").val()
      if (country!="") txt += " ("+country+")";
      $("#origin_address_full_input").html(txt);
      $("#origin_address_modal").modal('hide'); 
    })
    $("#destination_address_modal .btn-success").click(function(){
      var country = $('#destination_country_input option:selected').text() 
      txt = $("#destination_address_input").val()+" "+$("#destination_zip_input").val()+" "+$("#destination_city_input").val();
      if (country!="") txt += " ("+country+")";
      $("#destination_address_full_input").html(txt);
      $("#destination_address_modal").modal('hide'); 
    })
    $(".shipment_type").change(change_shipment_type);
    change_shipment_type();
    $(".equipment").change(change_equipment);
    change_equipment();
    $(".imo").change(change_imo);
    change_imo();
  })
