.form-group
  %label.control-label.col-sm-4= t("activerecord.attributes.estimate.customer_id")
  .col-sm-8
    .form-control= estimate.customer
.form-group
  %label.control-label.col-sm-4= t("activerecord.attributes.estimate.origin_port_id")
  .col-sm-8
    .form-control= estimate.origin_port
.form-group
  %label.control-label.col-sm-4= t("activerecord.attributes.estimate.destination_port_id")
  .col-sm-8
    .form-control= estimate.destination_port
.form-group
  %label.control-label.col-sm-4= t("activerecord.attributes.estimate.origin")
  .col-sm-8
    .form-control.text= estimate.origin
.form-group
  %label.control-label.col-sm-4= t("activerecord.attributes.estimate.destination")
  .col-sm-8
    .form-control.text= estimate.destination
.form-group
  %label.control-label.col-sm-4= t("activerecord.attributes.estimate.imo")
  .col-sm-8
    .form-control
      - if estimate.imo
        %span.glyphicon.glyphicon-ok
      - else
        %span.glyphicon.glyphicon-remove
- if estimate.imo
  .form-group
    %label.control-label.col-sm-4= t("activerecord.attributes.estimate.imo_class")
    .col-sm-8
      .form-control= estimate.imo_class
  .form-group
    %label.control-label.col-sm-4= t("activerecord.attributes.estimate.imo_un")
    .col-sm-8
      .form-control= estimate.imo_un
- estimate_items.each do |estimate_item|
  %hr
  .form-group
    %label.control-label.col-sm-4= t("activerecord.attributes.lcl/estimate_items.number_of_items")
    .col-sm-8
      .form-control= estimate_item.number_of_items
  .form-group
    %label.control-label.col-sm-4= t("activerecord.attributes.lcl/estimate_items.description")
    .col-sm-8
      .form-control.text= estimate_item.description
  - unless estimate_item.description2.blank?
    .form-group
      %label.control-label.col-sm-4= t("activerecord.attributes.estimate_item.description2")
      .col-sm-8
        .form-control.text= estimate_item.description2
  .form-group
    %label.control-label.col-sm-4= t("activerecord.attributes.estimate_item.length")
    .col-sm-8
      .form-control= estimate_item.length
  .form-group
    %label.control-label.col-sm-4= t("activerecord.attributes.estimate_item.width")
    .col-sm-8
      .form-control= estimate_item.width
  .form-group
    %label.control-label.col-sm-4= t("activerecord.attributes.estimate_item.height")
    .col-sm-8
      .form-control= estimate_item.height
  .form-group
    %label.control-label.col-sm-4= t("activerecord.attributes.estimate_item.weight")
    .col-sm-8
      .form-control= estimate_item.weight



