= f.grouped_collection_select :origin_port_id, Country.order(:name), :ports, :name, :id, :name, {include_blank: '', append: link_to("...", admin_ports_path, class: "btn btn-info", title: t("activerecord.models.port", count: 2))}, {:"data-placeholder"=> t("placeholders.estimate.origin_port_id")}
= f.grouped_collection_select :destination_port_id, Country.order(:name), :ports, :name, :id, :name, {include_blank: '', append: link_to("...", admin_ports_path, class: "btn btn-info", title: t("activerecord.models.port", count: 2))}, {:"data-placeholder"=> t("placeholders.estimate.destination_port_id")}
= f.form_group :items, label: { text: t("activerecord.attributes.roro.items") } do
  .form-inline.form-items.form-group{:style => "margin-left:0; margin-right:0; margin-top:5px"}
    .form-group{:style => "width:15%"}= t("activerecord.attributes.roro/estimate_items.number_of_items")
    .form-group{:style => "width:15%"}= t("activerecord.attributes.roro/estimate_items.description")
    .form-group{:style => "width:15%"}= t("activerecord.attributes.estimate_item.length")
    .form-group{:style => "width:15%"}= t("activerecord.attributes.estimate_item.width")
    .form-group{:style => "width:15%"}= t("activerecord.attributes.estimate_item.height")
    .form-group{:style => "width:15%"}= t("activerecord.attributes.estimate_item.weight")
  = f.fields_for :estimate_items, :layout => :inline do |ff|
    .form-inline.form-items.form-group{:style => "margin-left:0; margin-right:0;"}
      = ff.hidden_field :type, :value => "RoroItem"
      = ff.text_field :number_of_items, hide_label: true, :control_style => "width:15%", :placeholder => t("activerecord.attributes.roro/estimate_items.number_of_items")
      = ff.text_field :description, hide_label: true, :control_style => "width:15%", :placeholder => t("activerecord.attributes.roro/estimate_items.description")
      = ff.text_field :length, hide_label: true, :control_style => "width:15%", :placeholder => t("activerecord.attributes.estimate_item.length")
      = ff.text_field :width, hide_label: true, :control_style => "width:15%", :placeholder => t("activerecord.attributes.estimate_item.width")
      = ff.text_field :height, hide_label: true, :control_style => "width:15%", :placeholder => t("activerecord.attributes.estimate_item.height")
      = ff.text_field :weight, hide_label: true, :control_style => "width:15%", :placeholder => t("activerecord.attributes.estimate_item.weight")
      = ff.link_to_remove class: "btn btn-info pull-right", title: t("helpers.delete") do
        %span.glyphicon.glyphicon-remove
  = f.link_to_add t("activerecord.attributes.roro.add_items"), :estimate_items

= f.form_group do
  = f.submit
  - if !f.object.new_record?
    = link_to t("helpers.cancel"), admin_estimate_path(@estimate), :class => "btn btn-default"
