-@page_title = "#{t("activerecord.models.estimate", count: 2)}"
-content_for :breadcrumb do
  %li
    = link_to t("activerecord.models.estimate", count: 2), admin_estimates_path, :title => t("activerecord.models.estimate", count: 2)
  %li.current
    =t("helpers.edit_a_model", :model => t("activerecord.models.estimate", :count => 1))

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          =t("helpers.edit_a_model", :model => t("activerecord.models.estimate", :count => 1))
          = "(#{@estimate_type.upcase})"
      .panel-body
        = bootstrap_nested_form_for @estimate, :as => :estimate, :url => admin_estimate_path(@estimate), :layout => :horizontal, :label_col => "col-sm-2", :control_col => "col-sm-10", :inline_errors => true, :builder => CustomBootstrapFormBuilder do |f|
          = f.alert_message flash[:error]
          = f.select :state, [[" " + t("activerecord.attributes.estimate.states.pending"),"pending", {:class => "glyphicon glyphicon-state-pending"}], [" " + t("activerecord.attributes.estimate.states.waiting_estimates"),"waiting_estimates", {:class => "glyphicon glyphicon-state-waiting_estimates"}], [" " + t("activerecord.attributes.estimate.states.analysing"),"analysing", {:class => "glyphicon glyphicon-state-analysing"}], [" " + t("activerecord.attributes.estimate.states.sent_to_customer"),"sent_to_customer", {:class => "glyphicon glyphicon-state-sent_to_customer"}], [" " + t("activerecord.attributes.estimate.states.negociating_with_customer"),"negociating_with_customer", {:class => "glyphicon glyphicon-state-negociating_with_customer"}], [" " + t("activerecord.attributes.estimate.states.confirmed"),"confirmed", {:class => "glyphicon glyphicon-state-confirmed"}], [" " + t("activerecord.attributes.estimate.states.cancelled"),"cancelled", {:class => "glyphicon glyphicon-state-cancelled"}] ]
          = f.collection_select :customer_id, Customer.order(:email), :id, :full_name, {include_blank: '', append: link_to("...", admin_customers_path, class: "btn btn-info", title: t("activerecord.models.customer", count: 2))}, {:"data-placeholder"=> t("placeholders.estimate.customer_id")}
          != render :partial => "#{@estimate_type.downcase}_form", :locals => {:f => f}
