
= I18n.t("email_hello", :name => @estimate_request.contact.first_name)
= " "
= @estimate_request.email_content
- if not @estimate_request.email_additional_content.blank?
  = " "
  = @estimate_request.email_additional_content
= " "
= " "
= I18n.t("email_goodbye")
= " "
= " "
