!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %title= "GEOFLUX #{" · #{@page_title}" unless @page_title.blank?}"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .navbar.navbar-default{:role => "navigation"}
        .container-fluid
          .navbar-header
            %button.navbar-toggle{:type => :button, ":data-toggle" => :collapse, ":data-target" => ".navbar-collapse"}
              %span.sr-only Toogle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to "Geoflux", admin_root_path, :class => "navbar-brand"
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li{:class => controller_name=='homes' ? "active" : ""}
                = link_to "Home", admin_root_path
              %li
                %a{:href => "#"} About
              %li
                %a{:href => "#"} Contact
              %li.dropdown{:class => controller_name.match(/^estimate_detail/) ? "active" : ""}
                %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
                  Pressupost
                  %span.caret
                %ul.dropdown-menu{:role => :menu}
                  %li{:class => (controller_name=='estimate_details' and params[:type]=='lcl') ? "active" : ""}
                    = link_to "LCL", new_admin_estimate_detail_path(:type => 'lcl')
                  %li{:class => (controller_name=='estimate_details' and params[:type]=='fcl') ? "active" : ""}
                    = link_to "FCL", new_admin_estimate_detail_path(:type => 'fcl')
                  %li{:class => (controller_name=='estimate_details' and params[:type]=='roro') ? "active" : ""}
                    = link_to "RORO", new_admin_estimate_detail_path(:type => 'roro')
                  %li{:class => (controller_name=='estimate_details' and params[:type]=='fltk') ? "active" : ""}
                    = link_to "FLTK", new_admin_estimate_detail_path(:type => 'fltk')
                  %li{:class => (controller_name=='estimate_details' and params[:type]=='cvnl') ? "active" : ""}
                    = link_to "CVNL", new_admin_estimate_detail_path(:type => 'cvnl')
                  %li{:class => (controller_name=='estimate_details' and params[:type]=='chrt') ? "active" : ""}
                    = link_to "CHRT", new_admin_estimate_detail_path(:type => 'chrt')

            %ul.nav.navbar-nav.navbar-right
              %li.active
                %a{:href=>"#"} Default
              %li
                %a{:href=>"#"} Static top
              %li
                %a{:href=>"#"} Fixed top
      %ol.breadcrumb
        %li{ :class => yield(:breadcrumb).empty? ? "current" : ""}
          %a{:href => admin_root_path}= t("home_page")
        = yield :breadcrumb

      = yield


      #dialog_wrapper
        #ajax_dialog{:style => "padding:0;overflow:hidden"}
