!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %title GEOFLUX
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .navbar.navbar-default{:role => "navigation"}
        .container-fluid
          .navbar-header
            %button.navbar-toggle{:type => :button, ":data-toggle" => :collapse, ":data-target" => ".navbar-collapse"}
              %span.sr-only Toogle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to "Geoflux", root_path, :class => "navbar-brand"
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li{:class => controller_name=='homes' ? "active" : ""}
                = link_to "Home", root_path
              %li
                %a{:href => "#"} About
              %li
                %a{:href => "#"} Contact
              %li.dropdown
                %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
                  Pressupost
                  %span.caret
                %ul.dropdown-menu{:role => :menu}

            %ul.nav.navbar-nav.navbar-right
              %li.active
                %a{:href=>"#"} Default
              %li
                %a{:href=>"#"} Static top
              %li
                %a{:href=>"#"} Fixed top
      = yield


      #dialog_wrapper
        #ajax_dialog{:style => "padding:0;overflow:hidden"}
